Library/Serialize/Type/plist.dtd

<!ENTITY % plistObject "(array | data | date | dict | real | integer | unsigned | string | true | false )" >
<!ELEMENT plist %plistObject;>
<!ATTLIST plist version CDATA "1.0" >

<!-- Collections -->
<!ELEMENT array (%plistObject;)*>
<!ELEMENT dict (key, %plistObject;)*>
<!ELEMENT key (#PCDATA)>

<!--- Primitive types -->
<!ELEMENT string (#PCDATA)>
<!-- Contents interpreted as Base-64 encoded -->
<!ELEMENT data (#PCDATA)>
<!-- Contents should conform to a subset of ISO 8601 (in particular, YYYY '-' MM '-' DD 'T' HH ':' MM ':' SS 'Z'.  Smaller units may be omitted with a loss of precision) -->
<!ELEMENT date (#PCDATA)>

<!-- Numerical primitives -->

<!-- Boolean constant true -->
<!ELEMENT true EMPTY>
<!-- Boolean constant false -->
<!ELEMENT false EMPTY>
<!-- Contents should represent a floating point number matching ("+" | "-")? d+ ("."d*)? ("E" ("+" | "-") d+)? where d is a digit 0-9.  -->
<!ELEMENT real (#PCDATA)>
<!-- Contents should represent a (possibly signed) integer number in base 10 -->
<!ELEMENT integer (#PCDATA)>
